<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">

    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
      <p class="text">Licensed under the <a href="http://www.mozilla.org/MPL/2.0/">Mozilla Public License 2.0</a></p>
    </div>

  </div>

</footer>
